$color1: #76A713;
$color2: #191D28;

%Oswald-400{
  font-family: 'Oswald-Regular', sans-serif;
  font-weight: 400;
}
%Oswald-500{
  font-family: 'Oswald-Medium', sans-serif;
  font-weight: 500;
}
%Oswald-600{
  font-family: 'Oswald-SemiBold', sans-serif;
  font-weight: 600;
}
%Oswald-700{
  font-family: 'Oswald-Bold', sans-serif;
  font-weight: 700;
}

%Gilroy-400{
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 400;
}
%Gilroy-500{
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 500;
}
%Gilroy-italic-500{
  font-family: 'Gilroy-MediumItalic', sans-serif;
  font-weight: 500;
}
%Gilroy-600{
  font-family: 'Gilroy-Semibold', sans-serif;
  font-weight: 600;
}
%Gilroy-italic-600{
  font-family: 'Gilroy-SemiboldItalic', sans-serif;
  font-weight: 400;
}
%Gilroy-700{
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 700;
}